<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/assets/img/logos/favicon.png">
        <link rel="stylesheet" href="/assets/css/base.css">
        <link rel="stylesheet" href="/assets/css/app.css">

    </head>
    <body>
        {% include smlogo.html %}

        {% include header.html %}

        <div class="korean vertical">
            {{ page.ktitle }}
        </div>

        <section>  
            {{ content }}
        </section>

        {% include footer.html %}

    </body>
</html>